@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;800&display=swap");

body {
  /*Typography stuff*/
  font-family: "Poppins", sans-serif;
  user-select: none;
  background: #001319;
}

.underline1 {
  /*Box model stuff*/
  width: 0%;
  height: 2px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: aliceblue;
}
.underline2 {
  /*Box model stuff*/
  width: 0%;
  height: 2px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: aliceblue;
}
.underline3 {
  /*Box model stuff*/
  width: 0%;
  height: 2px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: aliceblue;
}

.underline {
  /*Manipulations stuff*/
  transition: width 0.15s ease-in-out;
}

:is(li:hover, li:focus-within) .underline {
  /*Display stuff*/
  display: block;
  /*Box model stuff*/
  width: 70%;
}

:is(li:hover, li:focus-within) .underline3 {
  /*Display stuff*/
  display: block;
  /*Box model stuff*/
  width: 75%;
}

.wrapper {
  /*Box model stuff*/
  width: auto;
  height: 100vh;
  /*Miscellaneous*/
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
  scroll-behavior: smooth;
  background: #001319;
}

.wrapper::-webkit-scrollbar {
  /*Box model stuff*/
  width: 0;
}

.paralax-sect {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Positioning stuff*/
  position: relative;
  z-index: -1;
  /*Manipulations stuff*/
  transform-style: preserve-3d;
}

.paralax {
  /*Positioning stuff*/
  position: absolute;
}

.sky-bg {
  /*Positioning stuff*/
  z-index: 1;
  top: 0;
  /*Manipulations stuff*/
  transform: translateZ(-80px) scale(9.5);
}

.awan1,
.awan2 {
  /*Positioning stuff*/
  z-index: 2;
  /*Box model stuff*/
  width: 40vw;
  top: 235vw;
  /*Manipulations stuff*/
  transform: translateZ(-70px) scale(8);
}

.awan1 {
  top: 235vw;
  right: -250vw;
}

.awan2 {
  left: -250vw;
}

.laut1 {
  /*Positioning stuff*/
  z-index: 3;
  width: 100vw;
  top: 297vw;
  /*Manipulations stuff*/
  transform: translateZ(-65px) scale(7.5);
}

.pulau2 {
  /*Positioning stuff*/
  z-index: 4;
  width: 100vw;
  top: 262vw;
  /*Manipulations stuff*/
  transform: translateZ(-55px) scale(6.5);
}

.pulau2-1 {
  width: 100%;
}

.laut3 {
  /*Positioning stuff*/
  z-index: 6;
  width: 100vw;
  top: 290vw;
  /*Manipulations stuff*/
  transform: translateZ(-45px) scale(5.5);
}

.pulau3 {
  /*Positioning stuff*/
  z-index: 7;
  width: 100vw;
  top: 275vw;
  /*Manipulations stuff*/
  transform: translateZ(-35px) scale(4.5);
}

.laut4 {
  /*Positioning stuff*/
  z-index: 8;
  width: 100vw;
  top: 295vw;
  /*Manipulations stuff*/
  transform: translateZ(-30px) scale(4);
}

.pulau1 {
  /*Positioning stuff*/
  z-index: 9;
  width: 100vw;
  top: 273vw;
  /*Manipulations stuff*/
  transform: translateX(-5%) translateZ(-20px) scale(3);
}

.pulau1-2 {
  transform: rotate(2deg);
  width: 100vw;
}

.laut5 {
  /*Positioning stuff*/
  z-index: 12;
  width: 100vw;
  top: 298vw;
  /*Manipulations stuff*/
  transform: translateZ(-20px) scale(3);
}

.kelautan {
  /*Positioning stuff*/
  z-index: 11;
  width: 100vw;
  top: 650vw;
  /*Manipulations stuff*/
  transform: translateZ(-20px) scale(3) scaleY(1.5) scaleX(1.15);
}

.ikan0-1 {
  z-index: 17;
  top: 480vw;
  left: -450vw;
  transform: translateZ(-80px) scale(9);
  max-width: 10vw;
  opacity: 0.3;
  rotate: 180deg;
}

.ikan0-1-animation {
  top: 480vw;
  left: 540vw;
  rotate: 180deg;
  transition: 60s linear;
}

.ikan0-2 {
  z-index: 17;
  top: 600vw;
  right: -380vw;
  transform: translateZ(-60px) scale(7);
  max-width: 20vw;
  opacity: 0.7;
}

.ikan0-2-animation {
  top: 600vw;
  right: 470vw;
  transition: 45s linear;
}

.corals1 {
  z-index: 17;
  top: 800vw;
  width: 100vw;
  transform: translateZ(-40px) scale(5);
}

.corals1-1 {
  width: 100%;
}

.corals2 {
  z-index: 15;
  width: 100vw;
  top: 730vw;
  transform: translateZ(-60px) scale(7);
}

.ikan3-grup {
  z-index: 15;
  width: 7vw;
  top: 745vw;
  left: -120vw;
  transform: translateZ(-60px) scale(7)
}

.ikan3-grup-animation {
  animation: ikan3-grup 10s infinite ease-in-out;
  animation-delay: 3s;
}

.corals3-left {
  z-index: 16;
  top: 800vw;
  left: -122vw;
  transform: translateZ(-30px) scale(4);
}

.corals3-left-1 {
  rotate: 2deg;
  width: 25vw;
}

.corals3-right {
  right: -70vw;
  top: 775vw;
  transform: translateZ(-30px) scale(4);
}

.corals3-right-1 {
  rotate: 5deg;
  width: 25vw;
}

.ikan-grup {
  z-index: 14;
  width: 100vw;
  top: 800vw;
  right: -60vw;
  transform: translateZ(-50px) scale(6);
}

.ikan-grup-animation {
  top: 760vw;
  right: 0;
  transition: 2s;
}

.ikan-grup-1 {
  width: 10vw;
  top: -14vw;
  right: 11vw;
  rotate: 2deg;

  animation: ikan-grup 5s infinite ease-in-out;
}

.corals4 {
  z-index: 14;
  width: 100vw;
  top: 760vw;
  transform: translateZ(-50px) scale(6);
}

.laut-dalam {
  z-index: 17;
  width: 100vw;
  top: 950vw;
  transform: translateZ(-21px) scale(3.1);
}

.corals5 {
  z-index: 18;
  width: 100vw;
  top: 825vw;
  transform: translateZ(-20px) scale(3.1);
}

.ikan2-grup {
  z-index: 19;
  width: 20vw;
  top: 800vw;
  transform: translateZ(-15px) scale(2.5);

  animation: ikan2-grup 10s infinite ease-in-out;
}

.tebing {
  z-index: 19;
  width: 100vw;
  top: 890vw;
  transform: translateZ(-15px) scale(2.5);
}

.hiu {
  z-index: 20;
  top: 1100vw;
  right: -220vw;
  width: 100vw;
  transform: translateZ(-15px) scale(4);
}

.hiu-animation {
  top: 1100vw;
  right: 330vw;
  transition: 1s linear;
}

.dasarlaut {
  /*Positioning stuff*/
  z-index: 13;
  width: 100vw;
  height: 20vw;
  top: 1730vw;
  /*Manipulations stuff*/
}

@keyframes ikan2-grup {
  0% {
    top: 820vw;
    right: -115vw;
  }

  20% {
    top: 820vw;
    right: -115vw;
  }

  40% {
    top: 830vw;
    right: -50vw;
  }

  60% {
    top: 820vw;
    right: 25vw;
  }

  80% {
    top: 830vw;
    right: 100vw;
  }
  
  100% {
    top: 820vw;
    right: 200vw;
  }
}

@keyframes ikan3-grup {
  0% {
    top: 745vw;
    left: -120vw;
  }
  
  40% {
    top: 745vw;
    left: -120vw;
  }

  60% {
    top: 730vw;
    left: -80vw;
  }

  80% {
    top: 730vw;
    left: -80vw;
  }

  100% {
    top: 745vw;
    left: -120vw;
  }
}

@keyframes ikan-grup {
  0% {
    top: -14vw;
    right: 10.5vw;
  }

  50% {
    top: -14vw;
    right: 11vw;
  }

  100% {
    top: -14vw;
    right: 10.5vw;
  }
}

@media (min-width: 2000px) {
  .sky-bg {
    width: 100vw;
  }
}
  