@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  z-index: 999;
  background: rgba(111, 111, 111, 0.222);
  position: absolute;
  width: 100%;
  border-bottom: solid 2px rgba(255, 255, 255, 0.304);
}

header img {
  width: 100px;
  margin: 10px 0;
}

header nav {
  max-width: 95%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 0 1rem;
  position: relative;
}

.underline1 {
  margin: 0 auto;
  width: 0%;
  height: 2px;
  background-color: aliceblue;
  border-radius: 2px;
}
.underline2 {
  margin: 0 auto;
  width: 0%;
  height: 2px;
  background-color: aliceblue;
  border-radius: 2px;
}
.underline3 {
  margin: 0 auto;
  width: 0%;
  height: 2px;
  background-color: aliceblue;
  border-radius: 2px;
}

.underline {
  transition: width 0.15s ease-in-out;
}

:is(li:hover, li:focus-within) .underline {
  display: block;
  width: 70%;
}

:is(li:hover, li:focus-within) .underline3 {
  display: block;
  width: 75%;
}

.dropdown {
  position: relative;
}

.dropdown-content {
    display: block;
  position: absolute;
  margin-top: 0.6rem;
  left: 50%;
  transform: translate(-50%, 0%);
  white-space: nowrap;
  border-radius: 5px;
  z-index: 1;
  transition: display 0.15s ease-in-out;
}

.dropdown-content a {
  display: none;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 2px gray;
}

.dropdown-content a:first-child {
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

.dropdown-content a:nth-child(2) {
  opacity: 0;
  transition: opacity 0.15s ease-in-out 0.05s;
}

.dropdown-content a:last-child {
  opacity: 0;
  transition: opacity 0.15s ease-in-out 0.1s;
}

:is(.dropdown:hover) .dropdown-content a {
  display: flex;
}

:is(.dropdown:focus-within) .dropdown-content a {
  display: flex;
  opacity: 1;
}

.wrapper {
  height: 100vh;
  width: auto;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
}

.wrapper::-webkit-scrollbar {
  width: 0.25rem;
}

.wrapper::-webkit-scrollbar-track {
  background-color: rgba(138, 206, 255, 0.374);
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(131, 188, 249);
}

.paralax-sect {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  z-index: -1;
}

.paralax {
  position: absolute;
}

.sky-bg {
  transform: translateY(300%) translateZ(-80px) scale(10);
  z-index: 1;
}

.awan1, .awan2 {
  width: 100vw;
  transform: translateY(220%) translateZ(-70px) scale(8);
  z-index: 2;
}

.laut1 {
  width: 100vw;
  transform: translateY(217%) translateZ(-65px) scale(7.5);
  z-index: 3;
}

.pulau2 {
  width: 100vw;
  transform: translateY(210%) translateZ(-55px) scale(6.5);
  z-index: 4;
}

.laut3 {
  width: 100vw;
  transform: translateY(140%) translateZ(-45px) scale(5.5);
  z-index: 6;
}

.pulau3 {
  width: 100vw;
  transform: translateY(150%) translateZ(-35px) scale(4.5);
  z-index: 7;
}

.laut4 {
  width: 100vw;
  transform: translateY(155%) translateZ(-25px) scale(3.5);
  z-index: 8;
}

.pulau1 {
  width: 100vw;
  transform: translateY(191%) translateZ(-15px) rotate(2deg) scale(2.5);
  z-index: 9;
}

.laut5 {
  width: 100vw;
  transform: translateY(176%) translateZ(-15px) scale(2.5);
  z-index: 10;
}

.laut {
  background: linear-gradient();
}

main {
  transform: translateZ(-5px) scale(1.5);
  z-index: 99;
}
