@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;800&display=swap");

* {
  /*Box model stuff*/
  margin: 0;
  padding: 0;
  /*Miscellaneous*/
  box-sizing: border-box;
}

header {
  /*Positioning stuff*/
  position: sticky;
  display: flex;
  top: 0;
  z-index: 999;
  /*Box model stuff*/
  border-bottom: solid 2px rgba(255, 255, 255, 0.304);
  background: #01232d;
  overflow-x: hidden;
  justify-content: center;
}

header img {
  /*Box model stuff*/
  width: 80px;
  margin:   px 1rem 5px;
}

header nav {
  /*Display stuff*/
  display: flex;
  align-items: center;  
  justify-content: space-between;
  /*Box model stuff*/
  min-width: 98%;
  padding: 0.10rem 1rem;
  font-size: 1rem;
}

header ul {
  /*Display stuff*/
  display: flex;
  align-items: center;
  /*Miscellaneous*/
  list-style: none;
}

header li a {
  /*Positioning stuff*/
  position: relative;
  /*Box model stuff*/
  padding: 0 1vw;
  /*Typography stuff*/
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.underline1 {
  /*Box model stuff*/
  width: 0%;
  height: 2px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: aliceblue;
}
.underline2 {
  /*Box model stuff*/
  width: 0%;
  height: 2px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: aliceblue;
}
.underline3 {
  /*Box model stuff*/
  width: 0%;
  height: 2px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: aliceblue;
}

.underline {
  /*Manipulations stuff*/
  transition: width 0.15s ease-in-out;
}

:is(li:hover, li:focus-within) .underline {
  /*Display stuff*/
  display: block;
  /*Box model stuff*/
  width: 70%;
}

:is(li:hover, li:focus-within) .underline3 {
  /*Display stuff*/
  display: block;
  /*Box model stuff*/
  width: 75%;
}

@media (max-width: 293px) {
  header nav {
    font-size: 0.7rem;
    padding: 0 0.5rem 0 1rem;
  }

  header img {
    /*Box model stuff*/
    width: 70px;
  }

  header li a {
    padding: 0 0.3rem;
  }
}

@media (max-width: 480px) and (min-width: 294px) {
  header nav {
    font-size: 0.8rem;
    padding: 0 0.5rem 0 1rem;
  }

  header img {
    /*Box model stuff*/
    width: 70px;
  }

  header li a {
    padding: 0 0.5rem;
  }
}
