/* Gaya umum */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Gaya header */
header {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

/* Gaya navigasi */
nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #fff;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

nav a:hover {
    color: #3498db;
}

/* Gaya section */
section {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Gaya footer */
footer {
    text-align: center;
    font-size: 0.8em;
    color: #777;
    padding: 10px;
    background-color: #fff;
}

/* Gaya latar belakang halaman "Tentang Kami" */
.about-page {
    background: linear-gradient(to bottom, #87CEEB, #1E90FF); /* Gradient warna laut dangkal */
    color: #333; /* Warna teks */
}

/* Gaya tautan navigasi aktif */
nav a.active {
    color: #3498db;
    font-weight: bold;
}
